MississippiMarbles-master/MississippiMarbles-master/.vs/MississippiMarbles/FileContentIndex/07730b5f-c32c-4bd5-a7aa-76bf0dad9659.vsidx
MississippiMarbles-master/MississippiMarbles-master/.vs/MississippiMarbles/FileContentIndex/9f7467f1-cd4d-4d57-bf56-41d52f34256e.vsidx
MississippiMarbles-master/MississippiMarbles-master/.vs/MississippiMarbles/v17/.suo
MississippiMarbles-master/MississippiMarbles-master/.vs/MississippiMarbles/v17/DocumentLayout.backup.json
MississippiMarbles-master/MississippiMarbles-master/.vs/MississippiMarbles/v17/DocumentLayout.json
MississippiMarbles-master/MississippiMarbles-master/bin/Debug/net8.0/MississippiMarbles.dll
MississippiMarbles-master/MississippiMarbles-master/bin/Debug/net8.0/MississippiMarbles.exe
MississippiMarbles-master/MississippiMarbles-master/bin/Debug/net8.0/MississippiMarbles.pdb
MississippiMarbles-master/MississippiMarbles-master/Classes/Roll.cs
MississippiMarbles-master/MississippiMarbles-master/obj/Debug/net8.0/apphost.exe
MississippiMarbles-master/MississippiMarbles-master/obj/Debug/net8.0/MississippiMarbles.AssemblyInfo.cs
MississippiMarbles-master/MississippiMarbles-master/obj/Debug/net8.0/MississippiMarbles.AssemblyInfoInputs.cache
MississippiMarbles-master/MississippiMarbles-master/obj/Debug/net8.0/MississippiMarbles.csproj.CoreCompileInputs.cache
MississippiMarbles-master/MississippiMarbles-master/obj/Debug/net8.0/MississippiMarbles.dll
MississippiMarbles-master/MississippiMarbles-master/obj/Debug/net8.0/MississippiMarbles.pdb
MississippiMarbles-master/MississippiMarbles-master/obj/Debug/net8.0/MississippiMarbles.sourcelink.json
MississippiMarbles-master/MississippiMarbles-master/obj/Debug/net8.0/ref/MississippiMarbles.dll
MississippiMarbles-master/MississippiMarbles-master/obj/Debug/net8.0/refint/MississippiMarbles.dll
