MississippiMarbles-master/MississippiMarbles-master/.vs/MississippiMarbles/FileContentIndex/5ae1e475-f1cc-41f8-9e5f-9793709243ee.vsidx
MississippiMarbles-master/MississippiMarbles-master/.vs/MississippiMarbles/FileContentIndex/af67c993-4ff4-4162-b15b-200aca8742fb.vsidx
MississippiMarbles-master/MississippiMarbles-master/.vs/MississippiMarbles/FileContentIndex/83512add-4c29-4d40-a555-d4ebef4de380.vsidx
MississippiMarbles-master/MississippiMarbles-master/.vs/MississippiMarbles/CopilotIndices/17.14.670.39694/SemanticSymbols.db-wal
MississippiMarbles-master/MississippiMarbles-master/.vs/MississippiMarbles/CopilotIndices/17.14.670.39694/SemanticSymbols.db-shm
MississippiMarbles-master/MississippiMarbles-master/.vs/MississippiMarbles/CopilotIndices/17.14.670.39694/CodeChunks.db-wal
MississippiMarbles-master/MississippiMarbles-master/.vs/MississippiMarbles/CopilotIndices/17.14.670.39694/CodeChunks.db-shm
